.venv
KOD OS 1.5

config.ini
logs
db.sqlite3
hidden_folders.json
main/settings.py
main/tests.py

.idea/.gitignore
.idea/KODOD.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

__pycache__