{% extends "main/base.html" %}
{% load static %}
{% block title %}Файловый менеджер - KOD OS{% endblock %}
{% block content %}
<h1>Файловый менеджер</h1>
{% if error %}
  <div style="color: red; font-weight: bold; margin-bottom: 10px;">{{ error }}</div>
{% endif %}
<div class="terminal-box">
    <div id="fileTree">
        {% include "main/file_tree.html" with tree=tree %}
    </div>
</div>
<div class="button-container">
    <a href="{% url 'login' %}" class="btn">Выйти</a>
</div>
{% endblock %}